<mat-nav-list>
  @for (item of navigationItems(); track item.route) {
    <mat-list-item 
      [routerLink]="item.route"
      routerLinkActive="mdc-list-item--activated"
      (click)="handleNavigate()">
      
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
      
      @if (item.badge && item.badge > 0) {
        <mat-icon matListItemMeta [matBadge]="item.badge" matBadgeColor="warn">
          notifications
        </mat-icon>
      }
      
      @if (item.children && item.children.length > 0) {
        <mat-icon matListItemMeta>expand_more</mat-icon>
      }
    </mat-list-item>
    
    <!-- Sub-items -->
    @if (item.children && item.children.length > 0) {
      @for (child of item.children; track child.route) {
        <mat-list-item 
          [routerLink]="child.route"
          routerLinkActive="mdc-list-item--activated"
          (click)="handleNavigate()"
          style="padding-left: 56px;">
          
          <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
          <span matListItemTitle>{{ child.label }}</span>
        </mat-list-item>
      }
    }
  }
</mat-nav-list>
